
.card {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    max-width: 840px;
    height: 457px;
    
    
    transform: translate(-50%, -50%);

    background: #FEF8F8;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    }
.card-container {
    position: absolute;
    width: 100%;
    max-width: 263px;
    height: 457px;
    left: 15.8%;
    top: 50%;

    transform: translate(-50%, -50%);
    
        
    background: #7895FC;
    border-radius: 16px 0px 0px 16px;
    }
.titulo-card-container {
    
    position: absolute;
    width: 209px;
    height: 63px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
    }

.ArrowEndback{
    position: absolute;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    left: 15%;
    top: 85%;
    transform: translateX(-50%);
    }
    .ArrowEndback p {
        margin-left: 10px; /* Adiciona espaçamento à esqueda da palavra "cadastra aqui" */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;


      }

.form-email{
    position: absolute;
    width: 100%;
    max-width: 383px;
    height: 43.52px;
    left: 65%;
    top: 40%;

    transform: translateX(-50%);
    
    background: #E8E4E4;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
   
    display: flex;

    color: #FFFFFF;
}

.form-senha{
    position: absolute;
    width: 100%;
    max-width: 383px;
    height: 43.52px;
    left: 65%;
    top: 55%;

    transform: translateX(-50%);
    background: #E8E4E4;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
   
    display: flex;

    color: #FFFFFF;
}

.form-btn{
    position: absolute;
    width:100%;
    max-width: 96px;
    height: 34px;
    left: 50%;
    top: 70%;

    transform: translateX(-50%);
    
    background: #7895FC;
    border: 3px solid #7895FC;
    border-radius: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
      
    