<div class="card" >
   <form>
  
      <input type="email" class="form-email" id="inputEmail"  placeholder="Seu email">
      <input type="senha" class="form-senha" id="inputSenha"  placeholder="Senha">

      <button type="submit" class="form-btn">Acessar</button>
 
   </form>


   <div class="card-container">
      <p class="titulo-card-container">Bem-vindo ao Contactar</p>
         <div class="ArrowEndback">
            <img src="../../../assets/ArrowBack.svg" >
            <p>Cadastra Aqui</p>
         </div>
   </div>   
</div>
